$icon_color: #0bceb1;
// $btn_color: #005fbd;
$border_color: #ebeef5;
// $header_bg: #409eff; // 蓝色主题
$header_bg: #00d1b2; //更改 $header_bg，可改变header、footer以及sideBar的颜色主题；
$title_bg: #f5f5f5;
// $more_color: #006fb6;
$color_warning: #e6a23c;
$color_danger: #f56c6c;
$color_success: #67c23a;
$active_color: #648fdb;

$color_1: #1c84c6;
$color_2: #23c6c8;
$color_3: #e6a23c;
$color_4: #ed5565;
